.wrapper{
  width: 400;
  height: 450px;
  margin: 0 auto;
}
.header{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
}
.header-sikaku{
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
}
.header-box-a{
  float: right;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  border: 10px solid #ffffff;
}
.header-box-b{
  float: right;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  border: 10px solid #ffffff;
  border-left: 0px;
  border-right: 0px;
}
.header-box-c{
  float: right;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  border: 10px solid #ffffff;
}
.side{
  float: left;
  width: 150px;
  height: 250px;
  background-color: #00ff51;
}
.content{
  float: left;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
}
.boxs{
  position: relative;
  top: 40px;
  left: 40px;
}
.content-box-a{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffff;
}
.content-box-b{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  margin: 10px 0;
  border: 5px solid #ffff;
}
.content-box-c{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffff;
}
.footer{
  width: 400px;
  height: 100px;
  background-color: #ffd000;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}